$font: 'Open Sans', sans-serif;

$color-bg: #ffffff;
$color-nav: #ffffff;

$color-text: #252121;
$color-active: #e6006e;   //magenta
$color-inactive: #847c7c; //gray - used for borders and faded text
$color-green: #0b9202;

$navwidth: 300px;
$desktopwidth: 900px;
